.footer {
    padding: 50px;
}

.registerLinks ul {
    list-style: none;
    margin-top: 15px;
}

.registerLinks ul li {
    margin-top: 10px;
}

.registerLinks a {
    color: #488400;
    font-size: 18px;
    text-decoration: none;
}

.registerLinks a:hover {
    color: #C6E59B;
}

.registerLinks:visited {
    color: #488400;
}

.footer {
    padding: 50px 55px 40px 55px;
    border-top: 10px solid;
    border-color: #488400;
}

.registerInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}


.registerInfo h6 {
    margin-top: 7px;
    margin-left: 10px;
}

.rapportLists .note {
    border-radius: 12px;
}

.noteFooterLink .linkArrow {
    border: solid #61a60f;
    border-width: 0 3px 3px 0;
    padding: 3px;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    background-color: #61a60f;
    margin-bottom: 4px;
    margin-right: 12px;
}